header {
    padding-top: map-get($sizes, xnormal);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        a {
            img {
                @include logo();
            }
        }

        nav {
            display: flex;
            align-items: center;

            #menu-toggle {
                width: 0;
                opacity: 0;
                margin: 0;

                &:checked {
                    & ~ .menu-button {
                        & > span {
                            transform: rotate(45deg);
                            &:before {
                                top: 0;
                                transform: rotate(0);
                            }
                            &:after {
                                top: 0;
                                transform: rotate(90deg);
                            }
                        }
                    }

                    & ~ ul {
                        height: auto;
                        padding-bottom: map-get($sizes, normal);
                        border-radius: map-get($sizes, normal);
                    }
                }

                @include breakpoint(lg) {
                    display: none;
                }
                @include breakpoint(xlg) {
                    display: none;
                }
                @include breakpoint(xxlg) {
                    display: none;
                }
            }

            .menu-button {
                display: flex;
                align-items: center;
                position: relative;
                width: 30px;
                height: 30px;
                cursor: pointer;
                z-index: 1;
                margin-left: map-get($sizes, normal);

                span,
                & > span::before,
                & > span::after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: map-get($colors, grey);
                    transition-duration: map-get($timings, slow);
                }

                & > span::before {
                    content: '';
                    top: -8px;
                }
                & > span::after {
                    content: '';
                    top: 8px;
                }

                @include breakpoint(lg) {
                    display: none;
                }
                @include breakpoint(xlg) {
                    display: none;
                }
                @include breakpoint(xxlg) {
                    display: none;
                }
            }

            ul {
                height: 0;
                position: absolute;
                text-align: right;
                top: 0.2rem;
                right: 0;
                background: map-get($colors, white);
                width: 100%;
                z-index: 1;
                overflow: hidden;
                transition: height map-get($timings, slow);
                margin-top: 4rem;
                padding-right: $gutter;

                li {
                    margin-right: calc(30px + 1rem + 2rem);

                    a {
                        font-size: map-get($sizes, xnormal);
                        color: map-get($colors, grey);
                        display: inline-block;
                        padding-top: map-get($sizes, normal);
                        transition: all map-get($timings, slow);
                        line-height: map-get($sizes, large);

                        &:after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background: map-get($colors, violet);
                            transition: width 0.3s;
                        }

                        &:hover::after {
                            color: map-get($colors, violet);
                            width: 100%;
                        }
                    }

                    &.active {
                        a {
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            @mixin large-menu {
                display: flex;
                flex-direction: row-reverse;

                #menu-toggle {
                    &:checked {
                        & ~ ul {
                            height: auto;
                            border-radius: 0;
                        }
                    }
                }

                ul {
                    position: relative;
                    display: flex;
                    height: auto;
                    margin-top: 0;
                    align-items: center;

                    li {
                        margin-right: 0;
                        padding: map-get($sizes, small) map-get($sizes, medium) map-get($sizes, normal)
                            map-get($sizes, medium);

                        @include breakpoint(lg) {
                            padding: map-get($sizes, small) map-get($sizes, normal);
                        }

                        @include breakpoint(xlg) {
                            padding: map-get($sizes, small) map-get($sizes, normal);
                        }

                        a {
                            padding-top: 0;
                            line-height: map-get($sizes, mxlarge);

                            &:after {
                                content: '';
                                display: block;
                                width: 0;
                                height: 3px;
                                background: map-get($colors, violet);
                                transition: width 0.3s;
                            }

                            &:hover::after {
                                color: map-get($colors, violet);
                                width: 100%;
                            }
                        }

                        &.active {
                            a {
                                &:after {
                                    width: map-get($sizes, medium);
                                }
                            }
                        }
                    }
                }
            }

            @include breakpoint(lg) {
                @include large-menu;
            }

            @include breakpoint(xlg) {
                @include large-menu;
            }
            @include breakpoint(xxlg) {
                @include large-menu;
            }
        }
    }
}
